<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            {% for post in site.html_pages %}
              {% if post.title %}
                {% if post.showinnav == true %}
                  <a class="extra" href="{{ post.url }}">{{ post.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                © 2013 Austin Hackers of Academics &nbsp; • &nbsp;
								Contacts: <a href="http://twitter.com/todb">@todb</a>, <a href="http://twitter.com/mauvehed">@mauvehed</a> &nbsp;  • &nbsp; View and contribute to this site on <a href="https://github.com/AustinHackers/austinhackers.github.io">Github</a>
							</p>
            </div>
          </div>
        </div>

    </body>
</html>
