---
layout: default
---
<h2>{{ page.meetingid }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<table cellspacing="20" cellpadding="20">
	<tr>
		<td valign="100">
      <font size="2" face="fixed">
        <b>NOTE:</b> <i>Our parking situation has changed. If you do not follow
        these guidelines <b>you WILL be towed</b>. Your choices for parking are
        infront of Mr Tramps, in front of the Furniture store (NOT the side),
        or in the Target parking lot. Do NOT park at the L-shaped strip mall
        behind Mr. Tramps. Use the image for a reference.</i>
      </font>
    </td>
    <td>
      <a href="/images/tramps-parking.png"><img src="/images/tramps-parking-sm.png" alt="Tramps Parking Lot Map" style="vertical-align:middle" width="300" border="2"></a>

      <font size="1">Click image for larger view</font>
    </td>
  </tr>
</table>

<div class="post">
<h2>Speaker Notes</h2>
{% for post in site.posts %}
  {% if post.meetingid %}
    {% if post.meetingid == page.meetingid %}
      {% if post.speakernotes == true %}
        <p>
        <h3>{{ post.author }}</h3>
        {{ post.content | markdownify }}
        <p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

</div>
