---
layout: default
---
<h2>{{ page.meetingid }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<font size="2" face="fixed">
  <b>NOTE:</b> <i>Our parking situation has changed. If you do not follow
	these guidelines <b>you WILL be towed</b>. You must ONLY park infront of Mr
  Tramps, or in one of the three spaces directly on the side of the
  building. Do NOT park at the L-shaped strip mall behind Mr. Tramps, or at the
  furniture store to the right of Mr Tramps. If there is no additional
  parking you must park in the Target parking lot.</i>
</font>
<p>
<a href="../../../../images/tramps-parking.png"><img src="../../../../images/tramps-parking.png" width="300" border="2"></a>

<br>
<font size="1">Click image for larger view</font>

<div class="post">
<h2>Speaker Notes</h2>
{% for post in site.posts %}
  {% if post.meetingid %}
    {% if post.meetingid == page.meetingid %}
      {% if post.speakernotes == true %}
        <p>
        <h3>{{ post.author }}</h3>
        {{ post.content | markdownify }}
        <p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

</div>
