---
layout: default
---
<h2>Upcoming Meetings</h2>
<p>
<div class="post">
	<p>
		Our technical meetings are nearly always held the last Thursday of every month, from 7pm-9pm. Traditionally
		we are always an in-person only meeting. However, due to COVID in 2020, we were forced to adopt virtual
		meetings as an alternative. As for which meetings will be in-person or virtual, usually you will need to
		check our <a href="https://infosec.exchange/@austinhackers">Mastodon</a> or ask on <a href="/chat.html">Discord</a>.
		Note that sometimes this decision is made day of and you may need to make sure to check with us even last minute.
	</p>
	<p>
	<i>When physical meetings occur, the following is useful information:</i>
	</p>
	<p>
		To access our meeting room, enter through the front doors of Mister Tramps and head straight towards the back.
		Either the huge sliding door will be open (you arrived early) or it will be closed (do not open it). If the
		sliding door is closed, head to the left of the sliding door and enter the small door leading to the bathroom
		hallway. Through the door and down the hall on your right is the door to the meeting room. This is the only door
		you should use. DO NOT use the staff service entrance to the left of the bar. See the
		<a href="http://mistertramps.com/">Mister Tramps</a> site for details on the venue.
		Here’s a <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=mister+tramps&aq=&sll=30.395835,-97.698202&sspn=0.012678,0.018432&ie=UTF8&hq=mister+tramps&hnear=&ll=30.3616,-97.717338&spn=0.012683,0.018432&z=16&iwloc=A">map</a>.
		The bistro is on the northbound side of 183-N, between Lamar and Burnet.
	</p>
	<p>
		Food and drinks will still be permissible at the meeting, provided you purchase said food and drinks
		from Mister Tramps. When you are not consuming food or drinks, appropriate masking is
		<strong>strongly encouraged</strong> while indoors.
	</p>
	<p>
		In-person attendees are <strong>required</strong> to be fully vaccinated against
		<a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/index.html">COVID-19</a>,
		<a href="https://www.kut.org/health/2019-12-22/for-the-first-time-since-1999-someone-in-travis-county-has-the-measles">measles</a>,
		and other debilitating infectious diseases.
	</p>
<p>
	<ul>
		<li>Jan 25, 2024 - <a href="meetings.html">0x00d0</a></li>
		<li>Feb 29, 2024 - <a href="meetings.html">0x00d1</a></li>
		<li>Mar 28, 2024 - <a href="meetings.html">0x00d2</a></li>
		<li>Apr 25, 2024 - <a href="meetings.html">0x00d3</a></li>
		<li>May 30, 2024 - <a href="meetings.html">0x00d4</a></li>
		<li>Jun 27, 2024 - <a href="meetings.html">0x00d5</a></li>
		<li>Jul 25, 2024 - <a href="meetings.html">0x00d6</a></li>
		<li>Aug 29, 2024 - <a href="meetings.html">0x00d7</a></li>
		<li>Sep 26, 2024 - <a href="meetings.html">0x00d8</a></li>
		<li><font color="orange">Oct 24, 2024 - <a href="meetings.html">0x00d9</a> (🎃) 1 week early</font></li>
		<li><font color="785C33">Nov 21, 2024 - <a href="meetings.html">0x00da</a> (🦃) 1 week early</font></li>
		<li>Dec 26, 2024 - <a href="meetings.html">0x00db</a></li>
	  </ul>
</p>
<p>
<i>Usually, AHA! slides a week when it collides with a holiday. This will likely be the case in October and November.</i>
</p>
</div>

<table cellspacing="20" cellpadding="20">
	<tr>
		<td valign="100">
      <font size="2" face="fixed">
        <b>NOTE:</b> <i>Our parking situation has changed. If you do not follow
        these guidelines <b>you WILL be towed</b>. Your choices for parking are
        in front of Mr. Tramps, in front of the karaoke bar (NOT the side),
        or in the Target parking lot. Do NOT park at the L-shaped strip mall
        behind Mr. Tramps. Use the image for a reference.</i>
      </font>
    </td>
    <td>
      <a href="/images/tramps-parking.png"><img src="/images/tramps-parking-sm.png" alt="Tramps Parking Lot Map" style="vertical-align:middle" width="300" border="2"></a>

      <font size="1">Click image for larger view</font>
    </td>
  </tr>
</table>
